extends layout

block content
  h1= title
  p Interesting Fact: I was born in Arizona
  button(type="button", class="btn btn-secondary" onclick="doReduce()") Reduce 
  div(id="reduce")

  script. 
    var count = 20
    var change = -1

    function doReduce() {
      change += count
      change -= 1
      document.getElementById("reduce").innerHTML = "Count " + count + " with change " + change
    }
